.about {
  background: $light;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  &-illus {
  }
  &-left {
    z-index: 2;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 15rem 1.5rem 1.5rem 15rem;
    &__title {
      width: 100%;
      border-bottom: 2px solid $primary;

      h2 {
        position: relative;
        font-size: 3.5rem;
        font-weight: 700;
        color: transparent;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
        -webkit-text-stroke: 2px $primary;
        // font-family: $font-primary;
        @media only screen and (max-width: 640px) {
          font-size: 2.5rem;
        }
      }
    }
    &__text {
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.4;
      font-family: $font-satoshi;
      a {
        color: $primary;
        font-weight: inherit;
        font-family: inherit;
        text-decoration: underline;
      }
    }
    &__links {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      margin-top: 1rem;
      a {
        position: relative;
        display: flex;
        font-size: 1.25rem;
        font-weight: 500;
        color: $primary;
        font-family: $font-primary;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        svg {
          width: 15px;
        }
        &:first-child {
        }
        &:last-child {
          margin-right: 0;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: $primary;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.25s ease-in-out;
        }

        &:hover {
          &::after {
            height: 1px;
            transform-origin: left;
            bottom: 0;
            left: 0;
            width: 100%;
            transform: scaleX(1);
          }
        }
      }
    }
  }
  &-right {
    z-index: 2;
    width: 25%;
    min-height: 100vh;
    padding-left: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &__image {
      width: 100%;
      height: 100%;
      border-radius: 50px 0 0 50px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $primary;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(0);
      }
    }
  }
  @media screen and (max-width: 1280px) {
    &-left {
      width: 50%;
      padding: 12rem 1.5rem 1.5rem 3rem;
      &__title {
        h2 {
          font-size: 2.5rem;
        }
      }
      &__text {
        font-size: 1rem;
      }
      &__links {
        a {
          font-size: 1rem;
        }
      }
    }
    &-right {
      width: 50%;
      height: 100%;
      min-height: auto;
      &__image {
        border-radius: 0 0 0 50px;
      }
    }
  }
  @media screen and (max-width: 810px) {
    flex-direction: column-reverse;
    align-items: center;
    &-left {
      width: 100%;
      padding: 2rem 1rem 8rem 1rem;
    }
    &-right {
      width: 100%;
      height: 100%;
      min-height: 100%;
      margin-top: 5rem;
      padding-left: 0;
      &__image {
        border-radius: 20px 20px 0 0;
        img {
        }
      }
    }
  }
}
body.dark {
  .about {
    background: $primary;
    &-left {
      &__title {
        border-color: $light;
        h2 {
          color: transparent;
          -webkit-text-stroke: 2px $light;
        }
      }
      &__text {
        color: $light;
        a {
          color: $light;
        }
      }
      &__links {
        a {
          color: $light;
          &::after {
            background: $light;
          }
        }
      }
    }
  }
}
