.experience {
  background: $light;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 9rem 15rem 4rem;
  @media screen and (max-width: 1340px) {
    padding: 9rem 6rem 4rem;
  }
  @media screen and (max-width: 640px) {
    padding: 9rem 1rem 4rem;
  }
  &-works {
    display: none;
  }
  &-personal {
    z-index: 2;
    width: 100%;
    margin-bottom: 2rem;

    &__title {
      border-bottom: 1.25px solid $primary;
      margin-bottom: 1.5rem;
      h2 {
        position: relative;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.15rem;
        color: transparent;
        text-transform: uppercase;
        -webkit-text-stroke: 1.5px $primary;
        // font-family: $font-primary;
        @media only screen and (max-width: 640px) {
          font-size: 1.5rem;
        }
      }
    }

    &__cards {
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      margin-bottom: 1rem;
      .personal-view {
        position: sticky;
        top: 0;
        width: 50%;
        height: 450px;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 640px) {
          display: none;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .personal-lists {
        width: 50%;
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        li {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          border-bottom: 1.5px solid $primary;
          overflow: hidden;
          a {
            width: 100%;
            padding: 1rem 0;
            position: relative;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            transform: translateX(-20px);
            color: $primary;
            transition: transform 0.25s ease-in-out;
            span {
              font-size: 1.25rem;
              font-weight: 500;
              color: inherit;
              font-family: $font-secondary;
            }
            svg {
              width: 15px;
              transform: rotate(45deg);
            }
            &:hover {
              transform: translate(0);
            }
          }
        }
      }
    }

    &__seemore {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      a {
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        color: $primary;
        span {
          font-size: 1rem;
          font-weight: 500;
          color: inherit;
        }
        svg {
          width: 15px;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: $primary;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.25s ease-in-out;
        }

        &:hover {
          &::after {
            transform-origin: left;
            transform: scaleX(1);
          }
        }
      }
    }
  }
}
body.dark {
  .experience {
    background: $primary;
    &-personal {
      &__title {
        border-color: $light;
        h2 {
          -webkit-text-stroke: 1.5px $light;
        }
      }
      &__cards {
        li {
          a {
            color: $light;
            span {
              color: inherit;
            }
            &::after {
              background: $light;
            }
          }
        }
      }
    }
  }
}
