.experience {
  background: $light;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 9rem 0 4rem;
  @media screen and (max-width: 1340px) {
    padding: 9rem 0 4rem;
  }
  @media screen and (max-width: 640px) {
    padding: 9rem 0 4rem;
  }
  &-works,
  &-internship {
    z-index: 2;
    width: 100%;
    margin-bottom: 2rem;

    padding: 0 15rem 0;
    @media screen and (max-width: 1340px) {
      padding: 0 6rem 0;
    }
    @media screen and (max-width: 640px) {
      padding: 0 1rem 0;
    }

    &__title {
      border-bottom: 1.25px solid $primary;
      margin-bottom: 1.5rem;
      h2 {
        position: relative;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.15rem;
        color: transparent;
        text-transform: uppercase;
        -webkit-text-stroke: 1.5px $primary;
        // font-family: $font-primary;
        @media only screen and (max-width: 640px) {
          font-size: 1.5rem;
        }
      }
    }

    &__cards {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      gap: 2rem;
      .card {
        position: relative;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding-bottom: 1rem;
        //background: #000;
        &-header {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          gap: 1rem;
          flex-wrap: wrap;
          @media screen and (max-width: 440px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 0.75rem;
          }
          &__left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.25rem;
            h3 {
              font-size: 1.25rem;
              font-weight: 700;
              color: $primary;
              font-family: $font-primary;
              text-transform: uppercase;
            }
            p {
              font-size: 1rem;
              font-weight: 500;
              color: $primary;
            }
          }
          &__right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 0.25rem;
            @media screen and (max-width: 440px) {
              width: 100%;
              flex-direction: column;
              align-items: flex-start;
              // align-items: flex-end;
            }
            h3 {
              font-size: 1rem;
              font-weight: 700;
              color: $primary;
              opacity: 0.75;
              font-family: $font-secondary;
            }
            p {
              font-family: $font-secondary;
            }
          }
        }
        &-description {
          padding: 1rem 0 1rem 0;
          p {
            font-size: 1rem;
            font-weight: 400;
            color: $primary;
            opacity: 0.75;
            font-family: $font-primary;
          }
        }
        &-stacks {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          gap: 4px;
          button {
            flex-shrink: 0;
            background: $light;
            padding: 4px 10px;
            border-radius: 20px;
            color: $primary;
            border: 1px solid $primary;
            font-weight: 400;
          }
        }
        &-footer {
          margin-top: 1rem;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          a {
            position: relative;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            color: $primary;
            svg {
              width: 15px;
            }

            span {
              font-size: 1rem;
              font-weight: 400;
              color: inherit;
              font-family: $font-primary;
            }

            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 1px;
              background: $primary;
              transform: scaleX(0);
              transform-origin: right;
              transition: transform 0.25s ease-in-out;
            }

            &:hover {
              &::after {
                transform-origin: left;
                transform: scaleX(1);
              }
            }
          }
        }
        &:is(:not(:last-child)) {
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 1px;
            background: rgba($color: $primary, $alpha: 0.25);
          }
        }
      }
    }
  }
  &-personal {
    z-index: 2;
    width: 100%;
    margin-bottom: 2rem;

    &__title {
      border-bottom: 1.25px solid $primary;
      // 1.5rem;

      margin: 0 15rem 1.5rem;
      @media screen and (max-width: 1340px) {
        margin: 0 6rem 1.5rem;
      }
      @media screen and (max-width: 640px) {
        margin: 0 1rem 1.5rem;
      }
      h2 {
        position: relative;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.15rem;
        color: transparent;
        text-transform: uppercase;
        -webkit-text-stroke: 1.5px $primary;
        // font-family: $font-primary;
        @media only screen and (max-width: 640px) {
          font-size: 1.5rem;
        }
      }
    }

    &__cards {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 2rem;
      margin-bottom: 1rem;

      height: 600px;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      .personal-view {
        //border: 1px solid $primary;
        position: sticky;
        top: 0;
        width: 50%;
        height: 100%;
        border-radius: 0 30px 0 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 800px) {
          display: none;
        }

        &__image {
          position: relative;
          width: 100%;
          height: 100%;
          background: $primary;
          border-radius: 0 30px 0 0;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            z-index: 3;
          }
          &::after {
            position: absolute;
            width: 100%;
            height: 100%;
            content: "Loading ...";
            z-index: 2;
            font-weight: 400;
            font-size: 1.1rem;
            font-family: $font-primary;
            color: $light;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .personal-lists {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        padding-right: 15rem;
        @media screen and (max-width: 1340px) {
          padding-right: 6rem;
        }
        @media screen and (max-width: 800px) {
          width: 100%;
          padding: 0 6rem;
        }
        @media screen and (max-width: 640px) {
          padding: 0 1rem;
        }

        li {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          border-bottom: 1.5px solid $primary;
          overflow: hidden;
          a {
            width: 100%;
            padding: 1rem 0;
            position: relative;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            transform: translateX(-20px);
            color: $primary;
            transition: transform 0.25s ease-in-out;
            span {
              font-size: 1.25rem;
              margin-bottom: -4px;
              font-weight: 500;
              color: inherit;
              display: flex;
              align-items: center;
              justify-content: center;
              font-family: $font-secondary;
            }
            svg {
              width: 15px;
              transform: rotate(45deg);
            }
            &:hover {
              transform: translate(0);
            }
          }
        }
        h3 {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          width: 100%;
          a {
            position: relative;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 1rem 0;

            color: $primary;
            span {
              font-size: 1rem;
              font-weight: 500;
              color: inherit;
            }
            svg {
              width: 15px;
            }
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 1px;
              background: $primary;
              transform: scaleX(0);
              transform-origin: right;
              transition: transform 0.25s ease-in-out;
            }

            &:hover {
              &::after {
                transform-origin: left;
                transform: scaleX(1);
              }
            }
          }
        }
      }
    }
  }
}
body.dark {
  .experience {
    background: $primary;
    &-works,
    &-internship {
      &__title {
        border-color: $light;
        h2 {
          -webkit-text-stroke: 1.5px $light;
        }
      }
      &__cards {
        .card {
          &-header {
            h3,
            p {
              color: $light;
            }
          }
          &-description {
            p {
              color: $light;
            }
          }
          &-stacks {
            button {
              background: $primary;
              color: $light;
              border-color: $light;
            }
          }
          &-footer {
            a {
              color: $light;
              &::after {
                background: $light;
              }
            }
          }
          &:is(:not(:last-child)) {
            &::after {
              background: rgba($color: $light, $alpha: 0.25);
            }
          }
        }
      }
    }
    &-personal {
      &__title {
        border-color: $light;
        h2 {
          -webkit-text-stroke: 1.5px $light;
        }
      }
      &__cards {
        .personal-lists {
          li {
            border-color: $light;
            a {
              color: $light;
              span {
                color: inherit;
              }
            }
          }
          h3 {
            a {
              color: $light;
              span {
                color: inherit;
              }
              &::after {
                background: $light;
              }
            }
          }
        }
      }
    }
  }
}
