.home {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(248 250 252/1);
  overflow: hidden;
  height: 100vh;
  &-velo {
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    img {
      position: absolute;
      bottom: 0;
      left: 100%;
      transform: translateX(-50%);
      left: 50%;
      width: 350px;
      filter: grayscale(1);
      object-fit: cover;
      //animation: velo 10s ease infinite;
    }
    @keyframes velo {
      0% {
        left: calc(100% + 350px);
      }
      100% {
        left: -350px;
      }
    }
    @media only screen and (max-width: 640px) {
      display: none;
    }
  }
  &__lines {
    position: absolute;
    inset: 0;
    mask-image: linear-gradient(to top, transparent, $primary, $primary);
    -webkit-mask-image: linear-gradient(
      to top,
      transparent,
      $primary,
      $primary
    );
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='30' height='30' fill='none' stroke='rgb(15 23 42 / 0.04)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
    background-position: bottom 1px center;
    background-color: rgb(255 255 255/0.25);
  }
  &__container {
    position: relative;
    z-index: 2;
    padding: 0 1rem 1rem 1rem;
    width: 100%;
    max-width: 58rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media only screen and (max-width: 640px) {
      //padding: 9rem 1rem 6rem 1rem;
    }

    img {
      position: absolute;
      z-index: -1;
      width: 300px;
      transform: rotate(45deg);
      filter: grayscale(1);
      object-fit: cover;
      @media only screen and (max-width: 640px) {
        display: none;
      }

      &.home__container-img1 {
        top: -100%;
        left: -5%;
        transform: rotate(0deg) translateX(-30px) rotate(0deg);
        // animation: animate1 30s ease infinite alternate;
      }
      &.home__container-img2 {
        bottom: -50%;
        right: -5%;
        transform: rotate(40deg) translateX(70px) rotate(0deg);
        // animation: animate2 30s ease infinite alternate;
      }

      // @keyframes animate1 {
      //   from {
      //     transform: rotate(45deg) translateX(50px) rotate(45deg);
      //   }
      //   to {
      //     transform: rotate(360deg) translateX(50px) rotate(-360deg);
      //   }
      // }
      // @keyframes animate2 {
      //   from {
      //     transform: rotate(-45deg) translateX(50px) rotate(-45deg);
      //   }
      //   to {
      //     transform: rotate(-360deg) translateX(50px) rotate(360deg);
      //   }
      // }
    }

    h1 {
      text-align: center;
      font-size: 3rem;
      line-height: 1;
      font-weight: 700;
      color: transparent;
      opacity: 1;
      transform: none;
      // -webkit-text-stroke: 2px $primary;
      -webkit-text-stroke: 0.5px $primary;
      letter-spacing: 0.125rem;
      padding-bottom: 0.25rem;
      mix-blend-mode: difference;

      // font-family: "Clash Display", sans-serif;

      &::selection {
        background: $primary;
        // -webkit-text-stroke: 2px $light;
        -webkit-text-stroke: 0.5px $primary;
      }

      span {
        display: inline-block;
        position: relative;
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
        letter-spacing: inherit;
        mix-blend-mode: inherit;

        opacity: 1;
        transform: none;

        color: $primary;

        cursor: help;

        &::after {
          position: absolute;
          content: "";
          background: rgba($color: $primary, $alpha: 0.1);
          border-top: 2px solid rgba($color: $primary, $alpha: 0.5);
          left: 0;
          right: 0;
          bottom: 0;
          height: 15px;
          z-index: -1;

          @media only screen and (max-width: 640px) {
            display: none;
          }
        }

        &::selection {
          background: $primary;
          color: $light;
          -webkit-text-stroke: 0.5px $light;
        }
      }

      @media only screen and (max-width: 1024px) {
        font-size: 2.5rem;
        line-height: 1;
      }

      @media only screen and (max-width: 640px) {
        font-size: 2rem;
        line-height: 2rem;

        font-family: "Clash Display", sans-serif;

        -webkit-text-stroke: 0.75px $primary;
      }
    }

    p {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.5;
      color: $primary;
      text-align: center;
      padding: 0.375rem 0 1.5rem 0;
      mix-blend-mode: difference;
      span {
        font-size: inherit;
        font-weight: inherit;
      }
      @media only screen and (max-width: 640px) {
        font-size: 1rem;
      }
    }

    a {
      position: relative;
      display: flex;
      align-items: center;
      gap: 0.25rem;

      transition: transform 0.25s ease-in-out;

      span {
        color: $primary;
        font-weight: 500;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: $primary;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.25s ease-in-out;
      }

      &:hover {
        transform: translateX(0.25rem);
        &::after {
          transform-origin: left;
          transform: scaleX(1);
        }
      }
    }
  }
}

body.dark {
  .home {
    background-color: rgb(0, 0, 0/1);
    background: $primary;
    &__lines {
      mask-image: linear-gradient(to top, transparent, $light, $light);
      -webkit-mask-image: linear-gradient(to top, transparent, $light, $light);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='30' height='30' fill='none' stroke='rgb(15 23 42 / 0.04)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
      background-position: bottom 1px center;
      background-color: rgb(0 0 0/0.25);
    }
    &__container {
      h1 {
        -webkit-text-stroke: 0.5px $light;
        &::selection {
          background: $light;
          -webkit-text-stroke: 0.5px $primary;
        }
        span {
          color: $light;
          &::after {
            background: rgba($color: $light, $alpha: 0.1);
            border-top: 2px solid rgba($color: $light, $alpha: 0.5);
          }
          &::selection {
            background: $light;
            color: $primary;
            -webkit-text-stroke: 0.5px $primary;
          }
        }
      }
      p {
        color: $light;
      }
      a {
        span {
          color: $light;
        }
        svg {
          path {
            stroke: $light;
          }
        }
        &::after {
          background: $light;
        }
      }
    }
  }
}
