.header {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    border: none;
    padding: 0 1rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 0.5rem;
  
   // background: rgba($color: $primary, $alpha: 0.625);
    overflow: hidden;
    ul {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding: 0.5rem;
      border-radius: 5px;
      background: $primary;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem .75rem;
        border-radius: 5px;
        span {
          font-size: .875rem;
          font-weight: 600;
          color: $light;
        }
  
        &.active {
          background: #d3d3d3;
          span {
            color: $primary;
          }
        }
      }
    }
  }