.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
  width: 100%;
  padding: 0.25rem 2rem;
  &-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 100px;
    }
  }
  &-theme {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;

    transition: all 0.25s ease-in-out;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    &.dark {
      background: $primary;
      border: 1px solid $light;
      svg {
        path {
          fill: $light;
        }
      }
    }
    &.light {
      background: $light;
      border: 1px solid $primary;
      svg {
        path {
          fill: $primary;
        }
      }
    }
  }
}

body.dark {
  .header {
    &-logo {
      path {
        fill: $light;
        stroke: $light;
      }
    }
  }
}
