@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Grey+Qo&family=Overpass&family=Parisienne&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400&family=Ubuntu:wght@400;500&display=swap');

$indigo: #5603ad;
$purple: #8965e0;
$pink: #f3a4b5;
$yellow: #ffd600;
$cyan: #2bffc6;
$gray: #8898aa;
$gray-dark: #1b1e3d;
$light: #ced4da;
$lighter: #e9ecef;
$primary: #5e72e4;
$secondary: #f4f5f7;
$success: #2dce89;
$info: #11cdef;
$warning: #fb6340;
$danger: #f5365c;
$lighter: #adb5bd;
$dark: #212529;
$default: #172b4d;
$white: #fff;
$gray-white: #f4f5f7;
$darker: black;

*, ::before, ::after{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: $gray;
    font-weight: 300;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
 
a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}

// html {
//     cursor: none;
// }

body{
    position: relative;
    background-color: $white;
    transition: background-color .3s ease;
    overflow-x: hidden;
}

body.dark-mode{
    background-color: $dark;
    .card-don{
        h2{
            color: $gray-dark;
        }
        background-color: $white;
    }
    .rotate-card{
        .rotate-content{
            background: $dark;
        }
    }
}

.brand-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    p, a{
        font-family: "Parisienne", cursive;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        transition: .3s ease;
    }
    a:hover{
        color: $info;
    }
}

.scroll-indicator{
    position: fixed;
    top: 0;
    width: 100%;
    height: 5px;
    border-radius: 20px;
    transform-origin: left;
    transform: scaleX(0);
    background: linear-gradient(to right, $info, $cyan);
    transition: transform .2s ease-out;
    z-index: 6;
}



