html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: $font-secondary;
  // font-size: 100%;
  // font-weight: normal;
}

ul,
li {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

*::selection {
  background-color: $primary;
  color: $light;
}

// body {
//   background: $light;
//   body.dark {
//     background-color: $primary;
//   }
// }

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: $primary;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5px;
  border-radius: 0 0 5px 5px;
}

.page__lines {
  position: absolute;
  inset: 0;
  mask-image: linear-gradient(to top, transparent, $primary, $primary);
  -webkit-mask-image: linear-gradient(to top, transparent, $primary, $primary);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='30' height='30' fill='none' stroke='rgb(15 23 42 / 0.04)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  background-position: bottom 1px center;
  background-color: rgb(255 255 255/0.25);
}

body.dark {
  &::-webkit-scrollbar-thumb {
    background: $light;
  }
  &::-webkit-scrollbar-track {
    background: $primary;
  }
  .page__lines {
    mask-image: linear-gradient(to top, transparent, $light, $light);
    -webkit-mask-image: linear-gradient(to top, transparent, $light, $light);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='30' height='30' fill='none' stroke='rgb(15 23 42 / 0.04)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
    background-position: bottom 1px center;
    background-color: rgb(0 0 0/0.25);
  }
}

#awwwards {
  position: fixed;
  z-index: 999;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
  @media screen and (max-width: 640px) {
    display: none;
  }
}
