$indigo: #5603ad;
$purple: #8965e0;
$pink: #f3a4b5;
$yellow: #ffd600;
$cyan: #2bffc6;
$gray: #8898aa;
$gray-dark: #32325d;
$light: #ced4da;
$lighter: #e9ecef;
$primary: #5e72e4;
$secondary: #f4f5f7;
$success: #2dce89;
$info: #11cdef;
$warning: #fb6340;
$danger: #f5365c;
$light: #adb5bd;
$dark: #212529;
$default: #172b4d;
$white: #fff;
$darker: black;