.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $gray-white;
  height: 100vh;
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      padding: 1rem;
      font-family: "Roboto";
      font-weight: 500;
      text-align: center;
    }
    &-socials {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 0 10px;
        ion-icon {
          padding: 0.5rem;
          margin: 0.5rem;
          font-size: 15px;
          color: $white;
        }
        transition: opacity 0.3s;
        &:hover {
          opacity: 0.5;
        }
      }
      a:nth-child(1) {
        background: #00aced;
      }
      a:nth-child(2) {
        background: #0077b5;
      }
      a:nth-child(3) {
        background: #c4302b;
      }
      a:nth-child(4) {
        background: #9147ff;
      }
      a:nth-child(5) {
        background: radial-gradient(
          circle at 30% 107%,
          #fdf497 0%,
          #fdf497 5%,
          #fd5949 45%,
          #d6249f 60%,
          #285aeb 90%
        );
      }
    }
    &-buy{
        display: flex;
        justify-content: center;
        align-items: center;
        background: yellow;
        border-radius: 30px;
        padding: 1rem;
        margin: 2rem 0 1rem 0;
        width: 200px;
        transition: .3s;
        &:hover{
            box-shadow: 0 2px 10px rgba($dark, $alpha: 0.2);
        }
    }
    p {
      font-size: 18px;
      padding: 1rem;
      text-align: center;
      a {
        text-decoration: underline;
      }
    }
  }
}

body.dark-mode {
  .footer {
    background: rgba($default, $alpha: 0.3);
    h2,
    p {
      color: $white;
    }
  }
}
