.other {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 3rem;

  &-container {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;

    h1 {
      text-align: center;
      color: $gray-dark;
      font-family: "Ubuntu";
      font-size: 35px;
      font-weight: 500;
    }

    h2 {
      text-align: center;
      color: rgba($color: $default, $alpha: 0.8);
      font-family: "Overpass", sans-serif;
      font-weight: 400;

      i {
        font-size: 18px;
      }
    }

    &-certification {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h1 {
        margin-bottom: 2rem;
      }

      h2 {
        margin-bottom: 3rem;
      }

      .cert {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 2.5rem;
        gap: 20px;

        a {
          width: 48%;
        }

        &-card {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px dotted $default;
          border-radius: 5px;
          padding: 15px 0;
          background: rgba($color: $default, $alpha: 0.05);
          transition: 0.3s ease;
          span {
            color: $default;
            font-weight: 600;
            font-size: 18px;
          }
          &:hover {
            background: rgba($color: $default, $alpha: 0.1);
          }
        }
      }
    }

    &-contact {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba($color: $default, $alpha: 0.1);

      .contact-card {
        padding: 15px 20px;
        display: flex;
        align-items: center;
        img {
          width: 50px;
          height: 50px;
          margin-right: 10px;
          border-radius: 50%;
          object-fit: cover;
        }
        .card-text {
          display: flex;
          align-items: center;
          a {
            background: $primary;
            color: $white;
            border-radius: 5px;
            margin-right: 5px;
            font-weight: 500;
            padding: 8px 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .other {
    &-container {
      width: 90%;

      &-certification {
        .cert {
          flex-direction: column;

          a {
            width: 70%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .other {
    &-container {
      &-certification {
        .cert {
          a {
            width: 95%;
          }
        }
      }
    }
  }
}

body.active {
  .other {
    &-container {
      h1 {
        color: $purple;
      }
      h2 {
        color: $light;
      }
      &-certification {
        .cert {
          &-card {
            border: 2px dotted $light;
            background: rgba($color: $default, $alpha: 0.5);
            span {
              color: $light;
            }
            &:hover {
              background: rgba($color: $default, $alpha: 0.1);
            }
          }
        }
      }
  
      &-contact {
        box-shadow: none;
      }
    }
  }
}
